<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>anhnpp.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>anhnpp.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>anhnpp.controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarPageController</servlet-name>
        <servlet-class>anhnpp.controller.SearchCarPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarController</servlet-name>
        <servlet-class>anhnpp.controller.SearchCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>anhnpp.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationController</servlet-name>
        <servlet-class>anhnpp.controller.VerificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>anhnpp.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/HomePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarPageController</servlet-name>
        <url-pattern>/SearchCarPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarController</servlet-name>
        <url-pattern>/SearchCarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationController</servlet-name>
        <url-pattern>/VerificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePageController</welcome-file>
    </welcome-file-list>
</web-app>
